.cocktail-list {
  width: 70%;
  margin: auto;
}

.align-center {
  text-align: center;
}

.cocktail-list__item-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
